<div class="theme-title">
  <div class="theme-name-wrapper">
    <div class="theme-name">
      <a [routerLink]="['/themes', theme._id]">
        <h2>{{ theme.themeName }}</h2>
      </a>
      <p>Date: <time>{{ theme.created_at | date:'medium' }}</time></p>

    </div>
    <div class="subscribers">
      <p>Subscribers: <span>{{ theme.subscribers.length || 0 }}</span></p>
      <button class="subscribe">Subscribe</button>
      <button class="unsubscribe">Unsubscribe</button>
    </div>
  </div>
</div>