<div class="theme-title">
  @if (isLoading) {
    <div class="loading">Loading...</div>
  } @else if (errorMessage) {
    <div class="error">{{ errorMessage }}</div>
  } @else if (theme) {
  <div class="theme-name-wrapper">
    <div class="theme-name">
      <a [routerLink]="['/themes', theme._id]">
        <h2>{{ theme.themeName }}</h2>
      </a>
      <p>Date: <time>{{ theme.created_at | date:'medium' }}</time></p>

    </div>
    <div class="subscribers">
      <p>Subscribers: <span>{{ theme.subscribers.length || 0 }}</span></p>
      @if (!isSubscribed) {
      <button (click)="subscribe()" [disabled]="isLoading" class="subscribe">Subscribe</button>
      } @else {
      <button (click)="unsubscribe()" [disabled]="isLoading" class="unsubscribe">Unsubscribe</button>
      }
    </div>
  </div>
  }
</div>
