<!-- src/app/features/auth/register/register.html -->
<div class="container">
  <form
    class="register"
    #registerForm="ngForm"
    appMatchPassword="rePassword"
    (ngSubmit)="onRegister(registerForm)"
  >
    <fieldset>
      <h2>Registration Form</h2>

      <!-- username -->
      <app-form-input
        name="username"
        id="username"
        label="Username"
        iconClass="fas fa-user"
        placeholder="Johny"
        [(ngModel)]="username"
        [required]="true"
        [minlength]="3"
      ></app-form-input>

      <!-- email -->
      <app-form-input
        name="email"
        id="email"
        label="Email"
        iconClass="fas fa-envelope"
        placeholder="john.doe@gmail.com"
        [(ngModel)]="email"
        [required]="true"
        [email]="true"
      ></app-form-input>

      <!-- telephone -->
      <app-phone-input
        name="tel"
        id="tel"
        label="Telephone"
        placeholder="885 888 888"
        [(ngModel)]="tel"
        [required]="false"
      ></app-phone-input>

      <!-- password -->
      <app-form-input
        name="password"
        id="password"
        label="Password"
        iconClass="fas fa-lock"
        placeholder="******"
        type="password"
        [(ngModel)]="password"
        [required]="true"
        [minlength]="6"
      ></app-form-input>

      <!-- rePassword -->
      <app-form-input
        name="rePassword"
        id="rePassword"
        label="Repeat Password"
        iconClass="fas fa-lock"
        placeholder="******"
        type="password"
        [(ngModel)]="rePassword"
        [required]="true"
      ></app-form-input>
      @if (registerForm.errors?.['mismatch']) {
        <p class="error">Passwords do not match!</p>
      }

      <!-- global server error -->
      @if (errorMessage) {
        <p class="error">{{ errorMessage }}</p>
      }

      <button type="submit" [disabled]="registerForm.invalid">Create Account</button>

      <p class="text-center">
        Have an account?
        <a [routerLink]="['/login']">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
